*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$padding-normal:2em;
$padding-small:1em;

#headerComponentDiv{
    display: flex;
    padding:$padding-small $padding-normal;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;
    #logoAndNameDiv, #SignInAndMenuComponentDiv{
        display: flex;
        gap: 0.5em;
    }
    #logoAndNameDiv{
        align-items: center;
        p{
            font-size: 1.5em;
        }
    }
}

#adImageDiv{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 85vh;
    overflow: hidden;
    img{
        width: 100%;
        height: auto ;
    }
}