*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$padding-normal:4.5em;
$padding-small:1em;
$overlappingTextDivWidth:20%;
$accent-color: rgb(255, 31, 68);
$primary-font:"";

#headerComponentDiv{
    display: flex;
    padding:$padding-small $padding-normal;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;
    #logoAndNameDiv, #SignInAndMenuComponentDiv{
        display: flex;
        gap: 1em;
    }
    #logoAndNameDiv{
        align-items: center;
        #tvContainer{
            width: 2.2em;
            img{
                width: inherit;
            }
        }
        p{
            font-size: 1.5em;
        }
    }
}

    #SignInAndMenuComponentDiv{
        align-items: center;
        #hamburgerContainer{
            width: 2.2em;
            img{
                width: inherit;
            }
        }
    }

#adImageDiv{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 85vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    img{
        width: 100%;
        height: auto ;
    }
    #imageBlur{
        width: 100vw;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.612);
        position: absolute;
    }
    #overlappingTextDiv{
        position: absolute;
        padding-left: $padding-normal;
        color: white;
        width: $overlappingTextDivWidth;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    #paginationDivComponent::-webkit-scrollbar{
        width: 0px;
    }
    #paginationDivComponent::-moz-scrollbar{
        width: 0px;
    }
    #paginationDivComponent::-ms-scrollbar{
        width: 0px;
    }
    #paginationDivComponent{
        position: absolute;
        right: 3vw;
        color: white;
        display: flex;
        height: 5em;
        overflow-y: scroll;
        width: 2em;
        justify-content: end;
        scrollbar-width: 0px;
        #singularContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 1em;
            p{
                display: block;
                height: 1em;
            }
        }
        #dash{
            background-color: white;
            width: 1em;
            height: 0.4em;
            position: sticky;
            left: 0;
            top: 50%;
        }
    }
    h2{
        line-height: 1.3em;
    }
    #ratingsDiv{
        display: flex;
        gap: 1em;
        span{
            display: flex;
            gap:0.1em;
        }
    }
    button{
        background-color: $accent-color;
        a{
            text-decoration: none;
            color: white;
        }
    }
}